{# PARTIAL: HTMX fragment for this feature's page only. #}


<form
method="post"
{% if account %}
hx-post="{% url 'edit_bank_account_htmx' account.id %}"
{% else %}
hx-post="{% url 'add_bank_account_htmx' holder.id %}"
{% endif %}
hx-target="#account-container"
hx-swap="innerHTML">
    
    <div class="modal-header">

        {% if account %}
        Edit Bank Account #{{ account.id }} ({{ holder.name }})
        {% else %}
        Add bank Account for {{ holder.name }}
        {% endif %}

        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>

  {% csrf_token %}

    <div class="modal-body">

    {% if form.non_field_errors %}
        <div class="alert alert-danger">
        {{ form.non_field_errors }}
        </div>
    {% endif %}

    <div class="row g-3">

        <!-- LEFT SIDE -->
        <div class="col-md-6">

            <h4 class="text-muted mb-3">Internal Information</h4>

            <div class="mb-3">
                <label class="form-label">Account Holder</label>
                {{ form.account_holder }}
            </div>

            <div class="mb-3">
                <label class="form-label">Account Name</label>
                {{ form.account_name }}
            </div>

        </div>

        <!-- RIGHT SIDE -->
        <div class="col-md-6">

        <h4 class="text-muted mb-3">Bank Information</h4>

            <div class="mb-3">
                <label class="form-label">IBAN</label>
                {{ form.iban }}
            </div>

            <div class="mb-3">
                <label class="form-label">BIC</label>
                {{ form.bic }}
            </div>

            <div class="mb-3">
                <label class="form-label">Bank Name</label>
                {{ form.bank_name }}
            </div>

            <div class="mb-3">
                <label class="form-label">Bank Account Holder Name</label>
                {{ form.account_holder_name }}
            </div>

        </div>

    </div>
    </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
      Cancel
    </button>

    <button type="submit" class="btn btn-primary">
      {% if account %}
        Save Changes
      {% else %}
        Create Bank Account
      {% endif %}
    </button>

  </div>
</form>